# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.iml

# Flutter
photonlink_app/.dart_tool/
photonlink_app/.flutter-plugins
photonlink_app/.flutter-plugins-dependencies
photonlink_app/.pub-cache/
photonlink_app/.pub/
photonlink_app/build/
photonlink_app/**/local.properties

# Rust
native/photonlink_core/target/

# Cursor
.cursor/
